<!-- Standard button -->
<div class="container-fluid">
 	<div class="row">  
		<div class="col-md-4"></div> 
				<div class="col-md-4"></div> 
				  <br> 
					<h1>WELCOME TO INSTAFACE!</h1> 

					<button type="button" class="btn btn-primary">Primary</button>

					<p> Input your celebrity </p> 

			</div> 
	  <div class="col-md-4"></div> 


	</div> 
</div> 